version: '3.8'
services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: the_agentic_marketer
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"